*{
    background-color: black;
}
h1{
    color: red;
    font-family: myFont;
    letter-spacing: 0.3rem;
    font-size: 70px;
    animation: type 2s linear;
    overflow: hidden;
    
}

@keyframes type {
    from { width:0;
    }
    to {
        width:100%;
    }
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@font-face {
    font-family: myFont;
    src: url(BebasNeue-Regular.ttf);
}