body{
    background-image: url("netflixbackground.jpg"); 
    opacity:0.9;
}
h1{
    color: red;
    font-family: myFont;
    letter-spacing: 0.3rem;
    
    
}

@font-face {
    font-family: myFont;
    src: url(BebasNeue-Regular.ttf);
}
.form-group{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(149, 139, 139);
    background-color: rgba(0, 0, 0, 0.964);
    width:400px;
    height:600px;
     opacity: 0.9; 
}

#email{
    background-color: rgb(68, 60, 60);
    color:rgb(221, 211, 211);
    padding:10px 80px;
    text-align: center;
}

#password{
    background-color: rgb(68, 60, 60);
    color:rgb(232, 220, 220);
    padding:10px 80px;
    text-align: center;

}
.button{
    background-color: red;
    text-align: center;
    padding:10px 10px;
    color: white;;

}
h2{
    margin-top: -80px;
    color: white;
}



footer{
    color:rgb(90, 86, 86);
    display:inline-flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top:100%;
    width:100vw;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.674);
    height: 200px;
}
.items{
    margin-top: 80px;
    font-size: 20px;
    font-family: myFont;
    margin-left: -10px;
    cursor: pointer;
}
.items:hover{
    text-decoration: underline;
}
h6{
    margin-top: -10px;
    color:rgb(189, 173, 173);
    font-size: 25px;
    margin-left: 500px;
}
span{
    cursor: pointer;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span:hover{
    text-decoration: underline;
}

h8{
    color:rgba(255, 255, 255, 0.559);
}
a{
    text-decoration: none;
    color: white;
}